*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
}

header{
  background-color: rgb(5, 5, 23);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5%;
}

.left{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(rgb(171, 235, 212),rgb(46, 82, 46));
  color: transparent;
  background-clip: text;
}

.logo{
  width: 26px;
  height: 26px;
  background-color: aqua;
  margin-right: 3%;
  border-radius: 9px;
}

.middle{
  display: flex;
  align-items: center;
  width: 65%; 
  font-weight: bold;
  color: white;
}

.middle div{
  margin: 2% 5%;
}

.middle div:hover{
  text-decoration: underline aqua;
  cursor: pointer;
  opacity: 0.8;
}

.right{
  width: 3%;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(224, 220, 220);
}

.section-1{
  display: flex;
  align-items: flex-end;
  background-color: rgb(27, 2, 49);
  padding: 6% 6% 6% 6%;
}

.analytics{
  width: 40%;
  margin-right: 20%;
}

.analytics h1{
  font-size: 3.2rem;
  line-height: 1.1;
  background: -webkit-linear-gradient(rgb(21, 101, 71),rgb(77, 206, 171));
  color: transparent;
  background-clip: text;
}

.analytics p{
  line-height: 1.3;
  font-size: 1.2rem;
  color: rgba(221, 217, 217, 0.971);
}

.analytics button{
  margin-top: 2.6% ;
  height: 36px;
  width: 150px;
  border-radius: 18px;
  border-style: none;
  background-color: rgb(232, 82, 18);
  color: white;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.bars{
  width: 18rem;
  height: 12rem;
  /* background-color: black; */
  display: flex;
  align-items: end;
  column-gap: 2.5%;
}

.bar-1{
  width: 2.8rem;
  height: 80%;
  background: -webkit-linear-gradient(rgb(10, 11, 11),rgb(11, 38, 28),rgb(83, 212, 83));
}

.bar-2{
  width: 3.2rem;
  background: -webkit-linear-gradient(rgb(37, 42, 42),rgb(66, 30, 19),rgb(167, 7, 68));
  height: 95%;
}

.bar-3{
  width: 3.2rem;
  background: -webkit-linear-gradient(rgb(10, 11, 11),rgb(11, 38, 28),rgb(49, 153, 222));
  height: 85%;
}

.bar-4{
  width: 2.8rem;
  background: -webkit-linear-gradient(rgb(48, 30, 12),rgb(11, 38, 28),rgb(230, 109, 39));
  height: 73%;
}

.section-2{
  background-color: rgb(4, 4, 26);
  padding: 2.5% 2.4% 2.5% 2.4%;
}

.top h3{
  text-align: center;
  font-size: 2rem;
  color: rgb(27, 184, 184);
  margin-bottom: 2.5%;
}

.bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3%;
  column-gap: 2%;
}

.overview-card{
  height: 16rem;
  background-color: rgb(18, 15, 33);
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  padding: 5% 5% 5% 5%;
}

.upper{
  display: flex;
  flex-direction: row;
  column-gap: 8%;
}

.box{
  width: 25px;
  height: 25px;
  background-color: rgb(27, 184, 184);
  border-radius: 20%;
  justify-content: center;
}

.upper p,.overview-card p{
  font-size: 1.1rem;
  color: rgb(128, 124, 124);
  width: 85%;
}

.fig{
  font-weight: bold;
  color: white;
  font-size: 2rem;
}
.section-3{
  background-color: rgb(4, 4, 26);
  padding: 2.5% 2.4% 2.5% 2.4%;
}

.tit h3{
  text-align: center;
  font-size: 2rem;
  color: rgb(27, 184, 184);
  margin-bottom: 2.5%;
}

.nums{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 6%;
  column-gap: 1%;
}

.nums-card{
  height: 5rem;
  background-color: rgb(18, 15, 33);
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  text-align: center;
  justify-content: center;
}

.num{
  font-weight: bold;
  font-size: 1.9rem;
  color: rgb(33, 176, 104);
}

.type{
  color: rgb(128, 124, 124);
}

.graphs{
  padding: 2.5% 0 2.5% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.5%;
  column-gap: 1%;
}

.graph-card{
  height: 22rem;
  background-color: rgb(18, 15, 33);
  border-radius: 2.5%;
  display: flex;
  flex-direction: column;
  padding: 4% 4% 4% 4% ;
}

.section-4{
  background-color: rgb(54, 8, 63);
  padding: 2.5% 2.4% 2.5% 2.4%;
}

.rep{
  text-align: center;
  font-size: 2rem;
  color: rgb(27, 184, 184);
  margin-bottom: 2.5%;
}

.insights{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3%;
  column-gap: 2%;
}

.insights-card{
  height: 16rem;
  background-color: rgb(42, 8, 56);
  border-radius: 2.5%;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2% 2%;
}

.section-5{
  background-color: rgb(4, 4, 26);
  padding: 2.5% 2.4% 2.5% 2.4%;
}

.in-touch h3{
  text-align: center;
  font-size: 2rem;
  color: rgb(27, 184, 184);
  margin-bottom: 2.5%;
}

.down{
  display: flex;
  column-gap: 3%;
  align-items: start;
}

.send-box{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 43%;
  padding: 2%  2% 2% 2%;
  background-color: rgb(17, 17, 37);
  border-radius: 5%;
}

.send-box h4{
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.send-box div,.send-box div textarea{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  color: rgb(200, 197, 197);
}

.send-box div input{
  height: 2.6rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: rgb(33, 32, 52);
}

.send-box div textarea{
  height: 4.8rem;
  border-radius: 0.5rem;
  border-style: none;
  padding: 2% 2%;
  background-color: rgb(33, 32, 52);
}

.send-box button{
  height: 2.4rem;
  border-radius: 1.2rem;
  border-style: none;
  background-color: rgb(232, 82, 18);
  color: white;
  font-weight: bold;
}

.info{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 48%;
}

.info h4{
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.info-boxes{
  display: grid;
  grid-template-rows: 4.5rem 4.5rem 4.5rem 4.5rem;
  row-gap: 10%;
}

.info-box{
  background-color: rgb(17, 17, 37);
  width: 100%;
  border-radius: 0.7rem;
  display: flex;
  padding: 3% 3%;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2%;
  line-height: 1.2;
  color: rgb(200, 197, 197);
}

footer{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.6% 1.6% 1.6% 1.6%;
  background-color: rgb(17, 17, 37);
  color: rgb(200, 197, 197);
}

.gauche{
  width: 2.3rem;
  height: 2.3rem;
  background-color: aqua;
  border-radius:0.5rem;
}

.droit h4{
  font-size: 0.8rem;
}

.img{
  width: 2.8rem;
  height: 2.8rem;
  background-color: aqua;
  border-radius:0.5rem;
}

.about{
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.insights-card p{
  color: rgb(200, 197, 197);
  max-width: 90%;
}

.upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.4rem;

}

.left-title{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.growth-icon,.trends-icon,.analytics-icon{
  width: 1rem;
  height: 1rem;
  background-color: white;
}

.geo-icon{
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

.stats1,.stats{
  padding: 3%;
  background-color: rgb(33, 32, 41);
  color: white;
  border: none;
  white-space: nowrap;
  border-radius: 0.5rem;
}

.stats1{
  background-color: rgb(123, 190, 123);
  color: rgb(11, 49, 11);
}

.upper-right{
  width: 40%;
  column-gap: 1rem;
  display: flex;
  justify-content: end;
}

.lower{
  display: flex;
  column-gap: 8%;
  padding-top: 5% ;
  height: 100%;
}

.barchart{
  display: flex;
  flex-direction: column;
  row-gap: 2%;
  justify-content: flex-end;
  align-items: center;
  color: white;
  width: 5%;
  height: 100%;
}

.chart{
  width: 100%;
  background: aqua;
}

.jan{
  height: 60%;
}

.feb{
  height: 71%;
}

.mar{
  height: 55%;
}

.apr{
  height: 78%;
}

.may{
  height: 90%;
}

.jun{
  height: 83%;
}

.jul{
  height: 66%;
}

.aug{
  height: 61%;
}

.geochart{
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  row-gap: 3%;
  justify-content: flex-end;
  align-items: center;
  color: white;
  height: 100%;
  width: 70px;
}

.geo{
  height: 100%;
  width: 75%;
  background: aqua;
}

.geograph{
  column-gap: 23%;
}

.usa{
  background-color: orange;
}

.EU{
  background-color: rgb(64, 214, 64);
  height: 70%;
}

.asia{
  background-color: rgb(63, 244, 63);
  height: 55%;
}

.other{
  background-color: rgb(246, 69, 128);
  height: 35%;
}

@media only screen and (max-width:1024px) {
  .bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3%;
  }

  .graphs{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 20%;
  }
  .down{
    padding-left: 6%;
    flex-direction: column;
    align-items: start;
  }

  .send-box{
    width: 90%;
    margin-bottom: 5%;
  }

  .info{
    width: 88%;
    padding-bottom: 15%;
  }

  .nums{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .insights{
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3%;
  }

  .section-1{
    line-height: 2.7;
  }

  .analytics{
    width: 70%;
    line-height: 2.3;
  }

  .nav{
    justify-content: center;
  }
  .left{
    width: 18%;
    align-items: start;
  }
  .droit h4{
    font-size: 1.1rem;
  }
  .info-boxes{
    grid-template-rows: 5rem 5rem 5rem 5rem;
  }

  .send-box button{
    font-size: 1.2rem;
  }

  .overview-card p{
    font-size: 1.25rem;
  }
  
}

@media only screen and (max-width:742px){
  .section-1,.section-2,.section-3,.section-4,.section-5{
    padding: 5%;
  }
  .left,.right{
    width: 0px;
    opacity: 0;
  }
  
  nav{
    justify-content: start;
  }

  .middle{
    width: 1%;
    column-gap: 0%;
    padding-left: 0;
  }

  .middle div{
    border: solid rgb(61, 60, 60);
  }

  .section-1{
    flex-direction: column;
    align-items: center;
  }

  .analytics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
  }

  .analytics h1{
    text-align: center;
    width: 130%;
    font-size: 2rem;
  }

  .analytics p{
    text-align: center;
    width: 150%;
  }

  .bars{
    width: 0;
    height: 0;
  }

  .bottom,.insights{
    grid-template-columns: 1fr;
    padding-bottom: 77%;
    font-size: 1.2rem;
  }

  .overview-card p{
    font-size: 1.6rem;
  }

  .nums{
    padding-bottom: 12%;
  }

  .geo{
    width: 2rem;
  }
  .geograph{
    column-gap: 7%;
  }
  .graphs{
    padding-bottom: 35%;
  }

  .info{
    padding-bottom: 35%;
  }

  .info-boxes{
    grid-template-rows: 5.2rem 5.2rem 5.2rem 5.2rem;
  }

  .droit p{
    font-size: 0.9rem;
  }

  .top{
    padding: 5%;
  }

  .left-title{
    font-size: 1.1rem;
    width: 40%;
  }

  .upper-right{
    column-gap: 2%;
  }
}



